IMDb\ *
*~
amazon-movie-reviews.zip
movies.txt

build_logs
backend.iml

movie_reviews\ *
*~
meta_Movies_and_TV.json
movie_reviews.json
Movies_and_TV.json

# Pycharm / Python
.DS_Store
*.idea/
__pycache__/*
