body {
    font-family: Lato;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

#search_bar_container {
    align-items: center;
    padding: 0 10px 25px 10px;
}

#search_bar_container p {
    margin: 8px 0 8px 0;
    font-size: x-large;
}

#clusters {
    width: 50vw;
}

#results {
    width: 50vw;
}

.search_bar {
    width: 35vw;
    height: 25px;
    border: 1px solid gray;
    /*border-radius: 15px;*/
    padding-left: 10px;
    font-size: 15px;
}

#search_bar_input:focus {
    box-shadow: 0 0 5px gray;
}

#search_bar_button {
    float: left;
    width: 15%;
    /*padding: 10px;*/
    background: #cc0000;
    color: white;
    font-size: 17px;
    border: 1px solid gray;
    border-left: none;
    cursor: pointer;
}

#search_bar_button:hover {
    background: #990000;
}

body div {
    /*border: 1px solid black;*/
}